html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #111;
  overflow: hidden;
}

/* Lienzo fijo tipo CodePen */
body {
  position: relative;
  width: 1920px;
  height: 1080px;
  transform-origin: top left;
}

/* ESCALA AUTOMÁTICA SEGÚN PANTALLA */
@media (max-width: 1920px) {
  body {
    transform: scale(calc(100vw / 1920));
  }
}

@media (max-height: 1080px) {
  body {
    transform: scale(calc(100vh / 1080));
  }
}

.foto {
  position: absolute;
  cursor: grab;
  user-select: none;
  z-index: 1;

  /* IMPORTANTE: no deformar */
  width: auto;
  height: auto;

  /* escala global de tus fragmentos */
  transform: scale(0.25);
  transform-origin: top left;
}

.foto:active {
  cursor: grabbing;
}

.texto {
  position: absolute;
  color: #8c8b8b;
  font-family: Roboto, sans-serif;
  font-size: 38px;
  user-select: none;
  pointer-events: none;
  z-index: 0;
}
