html, body {
  margin: 0;
  padding: 0;
  background: #111;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* ESTE ES EL LIENZO FIJO */
#canvas {
  position: relative;
  width: 1920px;
  height: 1080px;
  transform-origin: top left;
}

/* ESCALA GLOBAL CONSISTENTE */
@media (max-width: 1920px) {
  #canvas {
    transform: scale(calc(100vw / 1920));
  }
}

@media (max-height: 1080px) {
  #canvas {
    transform: scale(calc(100vh / 1080));
  }
}

.foto {
  position: absolute;
  cursor: grab;
  user-select: none;
  z-index: 1;

  width: auto;
  height: auto;

  transform: scale(0.25);
  transform-origin: top left;
}

.foto:active {
  cursor: grabbing;
}

.texto {
  position: absolute;
  color: #8c8b8b;
  font-family: Roboto, sans-serif;
  font-size: 38px;
  user-select: none;
  pointer-events: none;
  z-index: 0;
}
