body {
  margin: 0;
  background: #111;
  overflow: hidden;
}

/* BOTÓN VOLVER */
.back-button {
  position: fixed;
  top: 20px;
  left: 20px;

  width: 50px;

  opacity: 0.8;
  transition: 0.2s ease;

  z-index: 999;
}

.back-button:hover {
  opacity: 1;
  transform: scale(1.08);
}

.back-button img {
  width: 100%;
  height: auto;
  display: block;
}

/* 🔴 sistema estable global */
#stage {
  position: relative;
  width: 1920px;
  height: 1080px;

  transform-origin: top left;
  transform: scale(var(--scale));
}

.foto {
  position: absolute;
  cursor: grab;
  user-select: none;
  z-index: 1;
}

.foto:active {
  cursor: grabbing;
}

.texto {
  position: absolute;
  color: #8c8b8b;
  font-family: Roboto, sans-serif;
  font-size: 38px;
  user-select: none;
  pointer-events: none;
  z-index: 0;
}
